/*
** Roboto
*/
.roboto
  font-family Roboto

@font-face 
  font-family Roboto
  src url("~assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"),
      url("~assets/fonts/Roboto/Roboto-Light.woff") format("woff")
  font-weight 300
  font-display swap

@font-face 
  font-family Roboto
  src url("~assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
      url("~assets/fonts/Roboto/Roboto-Regular.woff") format("woff")
  font-weight 400
  font-display swap

@font-face 
  font-family Roboto
  src url("~assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
      url("~assets/fonts/Roboto/Roboto-Medium.woff") format("woff")
  font-weight 500
  font-display swap

@font-face 
  font-family Roboto
  src url("~assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
      url("~assets/fonts/Roboto/Roboto-Bold.woff") format("woff")
  font-weight 900
  font-display swap

/*
** Montserrat
*/
.montserrat
  font-family Montserrat

@font-face 
  font-family Montserrat
  src url("~assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
      url("~assets/fonts/Montserrat/Montserrat-Light.woff") format("woff")
  font-weight 300
  font-display swap

@font-face 
  font-family Montserrat
  src url("~assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
      url("~assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff")
  font-weight 400
  font-display swap

@font-face 
  font-family Montserrat
  src url("~assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
      url("~assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff")
  font-weight 700
  font-display swap

@font-face 
  font-family Montserrat
  src url("~assets/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
      url("~assets/fonts/Montserrat/Montserrat-Black.woff") format("woff")
  font-weight 900
  font-display swap