footer
  padding 80px 0
  background-color $grey
  text-align center

  h5
    color $black

    &:last-of-type
      margin-bottom 30px

  a
    display inline-block
    margin 0 20px

    svg
      width 32px