.hover
  width 100%
  display table
  table-layout fixed
  padding 40px 0

  &__description
  &__effect
    padding 2%
    +above(l)
      display table-cell
      vertical-align middle

  &__effect
    text-align center

    img
      max-width 100%