.parallax
  width 100%
  position relative
  text-align center

  &__background
    padding 150px 0
    background linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, $blue
    background-size 22px 22px

  h2
    position relative
    background-color transparent
    z-index 50