.scroll
  width 100%
  position relative
  background-color $black
  text-align center
  overflow hidden

  &__description
    display table
    margin auto
    padding 150px 0

    h2
      position relative
      background-color transparent
      color $grey
      z-index 50