.visualizer
  position relative
  background-color $black
  overflow hidden

  > div
    height 100%

  &__background
    width 300vw
    height 100%
    position absolute
    top 0
    left -100vw
    background linear-gradient(90deg, $black 50px, transparent 1%) center, linear-gradient($black 50px, transparent 1%) center, $grey
    background-size 51px 51px
    z-index 1

  &__content
    background-color transparent
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    z-index 3
    +above(l)
      white-space nowrap
    
  h2
  &__play
    vertical-align middle
    position relative
    z-index 50
    +above(l)
      display inline-block

  h2
    color $grey
    margin 50px 0 20px 0
    +above(l)
      margin 0 20px 0 0

  &__play
    width 60px
    height 60px
    background-color $blue
    border-radius 50%

    svg
      width 20px
      height 20px